<div class="row">
  <div class="col">
    <div class="row"><h1>Users</h1></div>
    <% @users.each do |user| %>
      <div class="row">
        <div class="col">
          <h5><%= user.full_name %></h5>
          <%= user.email %>
          <%= link_to 'Show', user, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-secondary' %>
          <% if logged_in? && session[:user_id] == user.id %>
            <%= link_to 'Destroy', user, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
