<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h1 style="text-align: center">Users</h1>
      </div>
    </div>
    <% if @users.empty? %>
      <div class="row">
        <div class="col">
          <h6 style="text-align: center">There are no users yet. <%= link_to 'Why not make an account?', new_user_path %></h6>
        </div>
      </div>
    <% else %>
      <% if logged_in? %>
        <div class="row"><h4>Your account:</h4></div>
        <div class="row" style="margin-top: 5px; margin-bottom: 5px">
          <div class="col card">
            <div class="card-body" id=<%= "user_#{current_user.id}" %>>
              <div class="row">
                <h5 class="card-title"><%= link_to current_user.full_name, current_user %></h5>
              </div>
              <div class="row"><%= current_user.email %></div>
              <div class="row" style="margin-top: 10px;">
                <%= link_to 'Edit account', edit_user_path(current_user), class: 'btn btn-secondary' %>&nbsp;
                <%= link_to 'Delete account', current_user, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><h4>Other accounts:</h4></div>
      <% end %>
      <% (@users - [current_user]).each do |user| %>
        <div class="row" style="margin-top: 5px; margin-bottom: 5px">
          <div class="col card">
            <div class="card-body" id=<%= "user_#{user.id}" %>>
              <div class="row">
                <h5 class="card-title"><%= link_to user.full_name, user %></h5>
              </div>
              <div class="row"><%= user.email %></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
