<div class="row">
  <div class="col">
    <div class="row"><h1>Events</h1></div>
    <% @events.each do |event| %>
      <div class="row">
        <div class="col card">
          <div class="card-body">
            <h4 class="card-title"><%= event.title %></h4>
            <p class="card-text">
              <%= event.description %>
            </p>
            <h6>Location: <%= event.location %></h6>
            <h6>Date: <%= event.date %></h6>
            <h6>Creator: <%= link_to event.creator.full_name, event.creator %></h6>
            <%= link_to 'Show', event, class: 'btn btn-primary' %>
            <% if logged_in? %>
              <% if session[:user_id] == event.creator.id %>
                <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-secondary' %>
                <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              <% else %>
                <!-- logic for 'going' -->
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <%= link_to 'New Event', new_event_path, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>

