<div class="row">
  <div class="col">
    <div class="row"><h1><%= @event.title %></h1></div>
    <div class="row" style="margin-top: 5px;">
      <div class="col card">
        <div class="card-body">
          <p class="card-text">
            <%= @event.description %>
          </p>
          <h6>Location: <%= @event.location %></h6>
          <h6>Date: <%= @event.date.strftime("%B %d, %Y") %></h6>
          <h6>Time: <%= @event.date.strftime("%l:%M %P") %></h6>
          <h6>Creator: <%= link_to @event.creator.full_name, @event.creator %></h6>
          <% if logged_in? %>
            <% if current_user == @event.creator %>
            <%= link_to 'Edit event', edit_event_path(@event), class: 'btn btn-secondary' %>
            <%= link_to 'Delete event', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% else %>
              <% if @event.attendees.include?(current_user) %>
              <button type="button" class="btn btn-success" disabled>Going</button>
              <% elsif Invite.find_by(invitee: current_user, event: @event) %>
                <%= button_to 'Accept Invite', accept_invite_user_path(current_user.id), params: { event_id: @event.id }, class: 'btn btn-success' %>
              <% else %>
                <%= button_to 'Mark Going', going_user_path(current_user.id), params: { event_id: @event.id }, class: 'btn btn-success' %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="col card">
        <div class="card-body" id="event-attendees">
          <h6>People Going:</h6>
          <ul style="margin-bottom: 0px">
            <% @event.attendees.each do |attendee| %>
            <li><%= link_to attendee.full_name, attendee %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="col card">
        <div class="card-body" id="event-invitees">
          <h6>People Invited:</h6>
          <ul style="margin-bottom: 0px">
            <% if @event.invitees.empty? %>
              <li>Nobody has been invited to the event yet. Invite someone below!</li>
            <% else %>
              <% @event.invitees.each do |invitee| %>
              <li><%= link_to invitee.full_name, invitee %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="col card">
        <div class="card-body" id="invite-user">
          <h6>Invite User</h6>
          <%= form_with url: "/events/#{@event.id}/invite" do |form| %>
            <%= form.collection_select :user_id, @users - @event.attendees - @event.invitees - [current_user], :id, :full_name, {:include_blank => true}, {:class => 'form-control'} %>
            <%= form.submit 'Invite', class: 'btn btn-success btn-sm', style: 'margin-top: 10px;' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
